*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: visible;
}
.toggles{
    // background-color: black;

.fa-toggle-on, .fa-toggle-off{
    position: fixed;
    font-size: 20px;
    opacity: 1;
    background-color: black;
    padding: 10px;
    color: white ;
    top: 10px;
    left: 400px;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color: #000;
        font-size: 20px;
        transition: all 0.3s;
    
    }
    @media screen and (max-width:540px) {
        left: 100px;
        top: 10px;
        font-size: 20px;
    }
    
}
}
.chatbot-container{
    display: grid;
    place-content: center;
    width: 50vw;
    height: 90vh;
    background-color: aqua;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 100;
    display: none;
    margin-top: 20px;

    @media screen and (max-width: 540px) {
            height: 90vh;
            width: auto;
            top: -20px;
            position: absolute;
            background-color: aqua;
    }

.chatbot-message{
    background-color: white;
    color: black;
    width: 52.7%;
    height: 60%;
    margin: auto;
    position: relative;
    top: 20px;
    overflow: visible;

    @media screen and (max-width: 540px){
            width: 90%;
            height: auto;
            top: 20px;
            position: relative;
        }
    

#p{
    text-align: center;
    font-size: 20px;
    color: blue;
    margin: auto;
}

#chatbottext{
margin-top: 30px;
width: auto;
height: auto;
word-wrap: break-word;
line-height: 1.5;
font-size: 18px;
}

.input-block{
   background-color: grey;
   width: auto;
   height: auto;
   margin-top: 270px;

@media screen and (max-width: 540px) {
    background-color: grey;
    width: auto;
    height: auto;
    display: grid;
    place-content: center;
    margin-top: 270px;
}
@media screen and (max-width: 540px) {
    #enter{
        padding: 13px;
        position: absolute;
        right: 35px;
        background-color: blueviolet;
        color: white;
        border: none;
        outline: none;
        bottom: 71px;
        width: auto;

    }
 
}
#enter{
    width: auto;
    padding: 13px;
    position: absolute;
    right: 24px;
    background-color: blueviolet;
    color: white;
    border: none;
    outline: none;
    bottom: 71px;
    display: block;
    &:hover{
        background-color: aqua;
        color: white;
        transition: all 1s;
    }

}

#textbox{
    padding: 10px;
    width: auto;
    margin: 10px 15%;
    text-align: start;
    font-size: 18px;
    background-color: coral;
    color: rebeccapurple;
    border: none;
    outline: none;
    @media screen and (max-width:540px) {
        width: auto;
        padding: 10px;
        margin: 10px;
    }  
}
#end{
    padding: 10px;
    width: auto;
    margin: auto 30%;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: white;
    border: none;
    outline: none;

  &:hover{
    cursor: pointer;
    background-color: crimson;
    color: blue;
    transition: all 0.3s;
}
@media screen and (max-width:540px) {
    width: auto 30%;
    padding: 10px;
    margin: 10px;
}  
}
}

}
}

#lets_chat{
text-align: center;
margin: auto;
font-size:20px;
font-variant: small-caps;
color: blue;
background-color: magenta;
width: 130px;
border-radius: 10px;
padding: 10px;
height: 58px;
z-index: 100;
position: absolute;
animation: Hover 3s ease-in-out forwards;

&:hover{
transition: padding 0.3s;
color: white;
background-color: goldenrod;
cursor: pointer;
border-radius: 50%;
width: 90px;
height: 90px;
}


@keyframes Hover {
from{
    transform: translateX(-100px);
    position: absolute;
    top: 30px;
    left: 100px;
}
to{
    transform: translateY(470px);
    position: absolute;
    right: 20px;
}
}
}

#mysection{
background: linear-gradient(to right, whitesmoke, grey, rebeccapurple,gray, white);
width: auto;
background-attachment: fixed;
height: 100vh;
@media screen and (max-width:540px) {
    width: 100%;
    min-height: 120vh;
    margin: auto;
    padding: 20px;
}
.welcome{
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: grey;
    top: 30px;
    @media screen and (max-width:540px) {
        width: auto;
        height: auto;
        margin: 40px auto;
    }

    h1{
        position: absolute;
        text-transform: uppercase;
        top: 45px;
        font-size: 25px;
        color: darkmagenta;
        margin-top: 20px;
        animation: timing 25s linear infinite 5s;
        @media screen and (max-width:540px) {
            width: auto;
            height: auto;
            margin: auto;
            top: 30px;
        }

        @keyframes timing {
            from{
                opacity: 1;
                transform: scale(1);
                transition: all 1s;
            
            }
            to{
                opacity: 0.2;
                transform: scale(0);
                transition: all 2s;
            }
        }
    }
    p{
        color: antiquewhite;
        margin: 20px 10px;
        position: absolute;
        top: 110px;
        font-size: 18px;
        @media screen and (max-width:540px) {
            width: auto;
            height: auto;
            margin: 20px auto;
            padding: 10px;
        }
    }
}
.maindiv{
    margin: 20px auto;
    position: relative;
    top: 200px;
    @media screen and (max-width:540px) {
        width: auto;
        height: auto;
        margin: 10px auto;
    }
.first-work{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 70px;
    @media screen and (max-width:540px) {
        width: auto;
        height: auto;
        margin: auto;
        top: 113px;
    }
    a{
        color: midnightblue;
        font-size: 20px;
        margin: 20px auto;
        position: absolute;
        font-weight: bold;
        bottom: 0;
        &:hover{
            transition: all 1s;
            color: aqua;
            font-size: 19px;
            font-variant: small-caps;
        }
    }
}
.second-work{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
    @media screen and (max-width:540px) {
        width: auto;
        height: auto;
        margin: auto;
        top: 130px;
    }
    a{
        color: darkorange;
        font-size: 20px;
        margin: 20px auto;
        position: absolute;
        top: 30px;
        font-weight: bold;
        &:hover{
            transition: all 1s;
            color: white;
            font-size: 19px;
            font-variant: small-caps;
        }
    }
}
.third-work{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 130px;
    @media screen and (max-width:540px) {
        width: auto;
        height: auto;
        margin: auto;
        top: 170px;
    }
    a{
        color: magenta;
        text-align: center;
        font-size: 20px;
        margin: 20px auto;
        position: absolute;
        top: 40px;
        font-weight: bold;
        &:hover{
            transition: all 1s;
            color: black;
            font-variant: small-caps;
            font-size: 19px;
        }
    }
}
.fourth-work{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 230px;
    @media screen and (max-width:540px) {
        width: auto;
        max-height: 100vh;
        height: auto;
        margin: auto;
        top: 270px;
    }
    a{
        color: tomato;
        text-align: center;
        font-size: 20px;
        margin: 20px auto;
        position: absolute;
        top: 40px;
        font-weight: bold;
        &:hover{
            transition: all 1s;
            color: saddlebrown;
            font-variant: small-caps;
            font-size: 19px;
        }
    }
}
.fifth-work{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    @media screen and (max-width:540px) {
        width: auto;
        max-height: 100vh;
        height: auto;
        margin:  10px auto;
        top: 80px;
    }
    a{
        color: yellow;
        text-align: center;
        font-size: 20px;
        margin: 10px auto;
        position: absolute;
        top: 20px;
        font-weight: bold;
        &:hover{
            transition: all 1s;
            color: rgb(139, 19, 105);
            font-variant: small-caps;
            font-size: 19px;
        }
    }
}

}
aside{
    text-align: center;
    position: relative;
    top: 0;
    a{
        color: white;
        font-size: 20px;
        position: absolute;
        top: -30px;
        right: 20px;
        @media screen and (max-width:540px) {
            width: auto;
            height: auto;
            margin: -50px auto;
            top: -10px;
            right: 20px;
        }
    }
}
}